body{
	background: url("background0166.jpg") black center no-repeat fixed;
	/*background-color: #475F77;*/
	padding: 0px;
	margin: 0px;
	font-family: "Arial";
	/*color: #6c6c6c;*/
}
.jumbotron{
	width:50%;
}
tr:nth-child(odd)
{ 
	background-color:#D4E7ED; 
	color:#74a6bd; 
}
tr:nth-child(even)		
{ 
	background-color:#74a6bd; 
	color:#D4E7ED; 
}
#nav_bar{
	background-color: #111111;
	width: 100%;
	height:25px;
	color: white;
	padding-top: 5px;
	padding-left: 10px;
}
#search_box_container{
	background: transparent url(back_tile.png) repeat center top;
	width: 100%;
}
#results_ret{
	font-size: 10pt;
}
#search_box{
	width: 650px;
	margin-left: auto;
    margin-right: auto;
	color: black;
}
#search_result{
	width: 1000px;
	color: white;
	/*background-color: white;*/
	margin-left: auto;
    margin-right: auto 
}
#search_field{
	width: 500px;
}
#footer{
	position:fixed; 
	width:100%;  
	background-color: black; 
	color:white; 
	padding:5px; 
	bottom:0px;
font-size: 10pt;	
}
table{
	border-collapse:collapse;
	width: 800px;
	margin-left: auto;
    margin-right: auto
}
table .even{
	background-color:#74a6bd;
}
.even a:link, .even a:visited{
	color:white;
}
table .odd {
	background-color:#D4E7ED;
}
.odd a:link, .odd a:visited{
	color:black;
}

table,th, td{
	border: 1px solid 74a6bd;
}
th{
	background-color:#7195a3;
	color:white;
}
th, td{

}


td a:link{
	color: #333333;
	text-decoration: none;
}
td a:visited{
	color: white;
	text-decoration: none;
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
li{
	float:left;
}
li a{
	display: block;
	width: 60px;
	text-align:center;
}
ul li a {
	color:#cccccc;
	text-decoration: none;
}
#nav_bar li a:hover {
	color:#ffffff;
}
#nav_bar li a:active {

}