<div class="modal fade login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<pre>{{loginstatus}}</pre>
			<div class="modal-body">  
				  <input type="text" class="form.username" placeholder="username" />
				  <input type="password" class="form.password" placeholder="password" />
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary">Login</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">  
				<h2>Are you sure you want to exit</h2>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">No</button>
				<button class="btn btn-primary">Yes</button>
			</div>
		</div>
	</div>
</div>